<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <!--carousel -->
  <swiper class="container swipper-bech" [config]="config" (indexChange)="onIndexChange($event)" fxFlex="auto">
    <div *ngFor="let item of items;">
        <!-- <div class="gallery-cell">
      centro de la tarjeta
        <div class="title" [attr.data-type-card]="item.type">{{item.type}}</div>
        <div class="number" [attr.data-number-card]="item.number">{{item.number}}</div>
        <div class="available">SALDO DISPONIBLE</div>
        <div class="cash" [attr.data-cash]="item.saldoContable">{{item.saldoContable}}</div>
      </div>



      <div class="card-credit__border-card" [attr.data-color-card]="item.color">{{item.color}}</div>
        <div class="number" [attr.data-number-card]="item.number">{{item.number}}</div>
        <div class="available">SALDO DISPONIBLE</div>
        <div class="cash" [attr.data-cash]="item.saldoContable">{{item.saldoContable}}</div>
-->

      <div class="card-credit__card-back">
        <span class="card-credit__border-card">qwe</span>
        <span class="card-credit__visa-logo"></span>
        <span class="card-credit__title">Visa Black</span>
        <span class="card-credit__card-number">**** **** **** 3057</span>
  
        <span class="card-credit__national">Nacional</span>
        <span class="card-credit__inter front">Internacional</span>
  
        <span class="card-credit__available">Disponible</span>
        <span class="card-credit__available--inter front">Disponible</span>
  
        <span class="card-credit__available--number">$2.644.860</span>
        <span class="card-credit__available--number front">US$ 1.200</span>
  
        <span class="card-credit__used">Utilizado</span>
        <span class="card-credit__used front">Utilizado</span>
  
        <span class="card-credit__used_number">$1.250.470</span>
        <span class="card-credit__used_number front">US$ 890</span>
      </div>


    </div>
  </swiper>
</div>